.release-dashboard-banner .roba-tabs-nav-container {
  display: flex;
  justify-content: center;
}

.release-dashboard-project-list-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
}