<template name="AuthenticateServerLink">
  {{#if isAuthenticated}}
    <a class="btn-log-out-server">
      <span class="glyphicon glyphicon-log-out"></span>
      Log Out
    </a>
  {{else}}
    {{#if isActive}}
      <a class="btn-log-in-server">
        <span class="glyphicon glyphicon-log-in"></span>
        Log In
      </a>
    {{else}}
      <a class="btn-log-activate-server" href="{{pathFor 'Integrations'}}">
        <span class="text-danger">Please activate this server</span>
      </a>
    {{/if}}
  {{/if}}
</template>