.chart-flex {
  flex-basis: 100%;
  flex-shrink: 1;
}

.donut-total {
  font-size: 36pt;
  font-weight: bold;
  opacity: 0.5;
}

.donut-label {
  font-size: 10pt;
}

.donut-label-left {
  text-anchor: start;
}

.donut-label-right {
  text-anchor: end;
}

.donut-label-callout{
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}