.document-status-reports a,
.document-status-reports h4 {
  display: inline-block;
  margin-right: 5px;
}

.status-report-settings,
.status-report-settings > div,
.status-report-settings > span {
  vertical-align: top;
  display: inline-block;
}

.document-action-bar {
  margin-bottom: 5px;
}

.edit-report-action-bar {
  margin-top: 5px;
  text-align: right;
}

.display-more-bar {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #eeeeee;
  text-align: center;
}

.status-report-title {
  color: #298cff;
  display: inline-block;
}

.status-report-body.collapsed {
  max-height: 250px;
  overflow-y: hidden;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0));
}