<template name="TopNav">
  <nav class="navbar navbar-default navbar-inverse top-nav no-select" style="border-radius: 0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <span class="journalist-logo">journalist</span>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        {{#with currentUser.contributor}}
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                Projects
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {{#if participatingProjects.count}}
                  <li class="disabled"><a>My Projects</a></li>
                  {{#each participatingProjects}}
                    <li><a href="{{pathFor 'ProjectHome' projectId=_id}}">{{title}}</a></li>
                  {{/each}}
                  {{#if otherProjects.count}}
                    <li class="divider" role="separator"></li>
                  {{/if}}
                {{/if}}
                {{#if otherProjects.count}}
                  <li class="disabled"><a>Other Projects</a></li>
                  {{#each otherProjects}}
                    <li><a href="{{pathFor 'ProjectHome' projectId=_id}}">{{title}}</a></li>
                  {{/each}}
                {{/if}}
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                Teams
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {{#if participatingTeams.count}}
                  <li class="disabled"><a>My Teams</a></li>
                  {{#each participatingTeams}}
                    <li><a href="{{pathFor 'TeamHome' teamId=_id}}">{{title}}</a></li>
                  {{/each}}
                  {{#if otherTeams.count}}
                    <li class="divider" role="separator"></li>
                  {{/if}}
                {{/if}}
                {{#if otherTeams.count}}
                  <li class="disabled"><a>Other Teams</a></li>
                  {{#each otherTeams}}
                    <li><a href="{{pathFor 'TeamHome' teamId=_id}}">{{title}}</a></li>
                  {{/each}}
                {{/if}}
              </ul>
            </li>
            
            {{#if releases.count }}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                  Releases
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{pathFor 'Releases'}}">Release Dashboard</a></li>
                  <li><a href="{{pathFor 'ReleasePlan'}}">Release Plan</a></li>
                  <li class="divider" role="separator"></li>
                  {{#each releases}}
                    <li><a href="{{pathFor 'Release' releaseId=_id}}">{{title}}</a></li>
                  {{/each}}
                </ul>
              </li>
            {{/if}}

            {{#if backlogs.count }}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                  Backlogs
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="disabled"><a>Team Reports</a></li>
                  {{#each backlogs}}
                    <li><a href="{{pathFor 'BacklogTeamReport' backlogId=_id}}">{{title}}</a></li>
                  {{/each}}
                  <li class="divider" role="separator"></li>
                  <li class="disabled"><a>Public Reports</a></li>
                  {{#each backlogs}}
                    <li><a href="{{pathFor 'BacklogPublicReport' backlogId=_id}}">{{title}}</a></li>
                  {{/each}}
                </ul>
              </li>
            {{/if}}

            {{#if userIsManager}}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                  Staff
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="disabled"><a>Direct Staff</a></li>
                  {{#each directStaff}}
                    <li><a href="{{pathFor 'ContributorHome' contributorId=_id}}">{{name}}</a></li>
                  {{/each}}
                  {{#if indirectStaff.count}}
                    <li class="divider" role="separator"></li>
                    <li class="disabled"><a>Indirect Staff</a></li>
                    {{#each indirectStaff}}
                      <li><a href="{{pathFor 'ContributorHome' contributorId=_id}}">{{name}}</a></li>
                    {{/each}}
                  {{/if}}
                </ul>
              </li>
            {{/if}}
            {{#if userIsAdmin}}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                  Admin
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{pathFor 'AdminHome'}}">Admin Home</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a href="{{pathFor 'AdminBacklogs'}}">Backlogs</a></li>
                  <li><a href="{{pathFor 'IntegrationCalculatedFields'}}">Calculated Fields</a></li>
                  <li><a href="{{pathFor 'AdminContributors'}}">Contributors</a></li>
                  <li><a href="{{pathFor 'CapacityPlans'}}">Capacity Plans</a></li>
                  <li><a href="{{pathFor 'DisplayTemplates'}}">Display Templates</a></li>
                  <li><a href="{{pathFor 'DynamicCollections'}}">Dynamic Collections</a></li>
                  <li><a href="{{pathFor 'IntegrationImportFunctions'}}">Import Functions</a></li>
                  <li><a href="{{pathFor 'AdminProjects'}}">Projects</a></li>
                  <li><a href="{{pathFor 'ContributorRoleDefinitions'}}">Role Definitions</a></li>
                  <li><a href="{{pathFor 'AdminReleases'}}">Releases</a></li>
                  <li><a href="{{pathFor 'ScheduledJobs'}}">Scheduled Jobs</a></li>
                  <li><a href="{{pathFor 'IntegrationServers'}}">Servers</a></li>
                  <li><a href="{{pathFor 'StaticAssets'}}">Static Assets</a></li>
                  <li><a href="{{pathFor 'AdminTeams'}}">Teams</a></li>
                  <li><a href="{{pathFor 'AdminUsers'}}">Users</a></li>
                  <li><a href="{{pathFor 'ImportExport'}}">Import Export</a></li>
                </ul>
              </li>
            {{/if}}
          </ul>
          
          {{#if 0}}
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          {{/if}}
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                {{#with statusSummary}}
                  <span class="inline-block">{{> StatusBar label=title status=isHealthy leftToRight=true }}</span>
                {{/with}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled"><a>Services</a></li>
                {{> StatusMenuItem meteorServerStatus }}
                {{#each statusMetrics}}
                  {{> StatusMenuItem }}
                {{/each}}
                <li class="divider" role="separator"></li>
                <li class="disabled"><a>Servers</a></li>
                {{#each statusMetrics 'server' }}
                  {{> StatusMenuItem }}
                {{/each}}
                <li class="divider" role="separator"></li>
                <li class="disabled"><a>Integration Agents</a></li>
                {{#each statusMetrics 'integrationAgent' true}}
                  {{> StatusMenuItem }}
                {{/each}}
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                <span class="glyphicon glyphicon-user"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'UserProfile'}}">User Profile - {{userName}}</a></li>
                <li class="divider" role="separator"></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
        {{/with}}
      </div>
    </div>
  </nav>
</template>