.breadcrumb-controls {
  text-align : right;
  float      : right;
}

.breadcrumb-controls::before {
  content : none !important;
}

.imminent-report {
  color       : #ffffff;
  font-weight : bold;
}

.document-status-reports a,
.document-status-reports h4 {
  display: inline-block;
  margin-right: 5px;
}

.status-report-settings,
.status-report-settings > div,
.status-report-settings > span {
  vertical-align: top;
  display: inline-block;
}

.document-action-bar {
  margin-bottom: 5px;
}

.edit-report-action-bar {
  margin-top: 5px;
  text-align: right;
}

.display-more-bar {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #eeeeee;
  text-align: center;
}

.status-report-title {
  color: #298cff;
  display: inline-block;
}
