.team-roster-assignments td:first-child {
  padding-right: 5px;
  width: 3em;
  white-space: nowrap;
}

.team-roster-assignments a,
.team-roster-assignments a:visited {
  color : #333;
}

.team-roster-name {
  font-size: 1.4em;
}

.team-roster-assignment-percent-bar {
  height: 5px;
  background-color: #007AC9;
  margin-bottom: 10px;
}