<template name="AddRoleForm">
  <div>
    {{#autoForm schema=getRoleSchema id="serverMethodForm" type="normal"}}
      <fieldset>
        <label for="teamId" class="control-label">Team</label>
        <select class="form-control" name="teamId" data-schema-key="teamId" required>
          {{#each teamOptions}}
            <option value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
        
        <label for="role" class="control-label">Role</label>
        <select class="form-control" name="role" data-schema-key="role" required>
          {{#each roleOptions}}
            <option value="{{value}}">{{title}}</option>
          {{/each}}
        </select>
      
      </fieldset>
    {{/autoForm}}
  </div>
</template>