<template name="ContributorTeamRoles">
  <div class="contributor-team-roles show-controls-on-hover" data-pk="{{_id}}">
    {{#if teamRoles.count}}
      {{#if hasSameRole}}
        {{#with firstRole}}
          <div class="section-header">
            <h3>{{renderTeamRole roleId}}</h3>
          </div>
        {{/with}}
      {{else}}
        <div class="section-header">
          <h3>Roles</h3>
        </div>
      {{/if}}
      
      {{> ContributorCommitmentLevel }}
    {{else}}
      <div class="section-header">
        <h3>Roles</h3>
      </div>
      User has no team roles
    {{/if}}
    
    {{#if userManagesContributor _id}}
      {{> EditableContributorRoles }}
    {{else}}
      <table class="table data-table overhang-table-left">
        {{#each teamRoles}}
          <tr class="data-table-row" data-pk="{{_id}}">
            <td class="open-link">
              <a class="hidden-control" href="{{pathFor 'TeamHome' teamId=teamId}}">
                <span class="glyphicon glyphicon-folder-open"></span>
              </a>
            </td>
            <td>
              <span class="team-title">{{ team.title}}</span>
              {{#unless ../hasSameRole}}
                {{ roleDefinition.title }}
              {{/unless}}
            </td>
          </tr>
          <tr class="data-table-row" data-pk="{{_id}}">
            <td></td>
            <td colspan="3">
              <table class="table data-table">
                {{#each projectAssignments}}
                  <tr class="data-table-row blue" data-pk="{{_id}}">
                    <td class="project-assignment-icon-col">
                      <span class="glyphicon glyphicon-dashboard"></span>
                    </td>
                    <td class="project-assignment-percent-col">
                      {{ percent }}%
                    </td>
                    <td>
                      {{ project.title }}
                    </td>
                  </tr>
                  <tr class="project-commitment-row">
                    <td colspan="4">
                      <div class="project-percent-committed" style="width: {{percent}}%;"></div>
                    </td>
                  </tr>
                {{/each}}
              </table>
            </td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
  </div>
</template>