<template name="EditableContributorRoles">
  <div class="editable editable-contributor-roles show-controls-on-hover" data-pk="{{_id}}">
    <table class="table data-table overhang-table-left">
      {{#each roles}}
        <tr class="data-table-row {{#if isNewRecord}}new-record{{/if}}" data-pk="{{_id}}">
          <td class="open-link">
            <a class="hidden-control" href="{{pathFor 'TeamHome' teamId=teamId}}">
              <span class="glyphicon glyphicon-folder-open"></span>
            </a>
          </td>
          {{#unless ../hasSameRole}}
            <td>{{> EditableEnumSelector dataKey="role" value=role enum=ContributorRoles}}</td>
          {{/unless}}
          <td>
            {{> EditableRecordSelector teamSelectorContext }}
          </td>
          <td class="text-right">
            <a class="btn-delete-role link-red hidden-control">
              <span class="glyphicon glyphicon-minus-sign"></span>
            </a>
          </td>
        </tr>
        <tr class="data-table-row" data-pk="{{_id}}">
          <td></td>
          <td colspan="3">
            {{> EditableProjectAssignments }}
          </td>
        </tr>
      {{/each}}
    </table>
    {{#if hasCapacity}}
      <a class="btn-add-role hidden-control">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    {{/if}}
  </div>
</template>