/**
 * status circle
 */
.status-circle {
  width: 1em;
  height: 1em;
  background: transparent;
  margin: 0 0.3em;
}

.status-circle circle {
  fill: #bebebe;
  /*
  -webkit-animation: status-pulse 5s infinite;
  -o-animation: status-pulse 5s infinite;
  animation: status-pulse 5s infinite;
  */
}

.status-circle.pass circle {
  fill: #00d801;
}

.status-circle.fail circle {
  fill: #ff0000;
  /*
  -webkit-animation: status-fail-pulse 5s infinite;
  -o-animation: status-fail-pulse 5s infinite;
  animation: status-fail-pulse 5s infinite;
  */
}

/**
 * Investigation Step Status colors
 *  queued
 *  running
 *  complete
 *  failed
 *  skipped
 */
.status-circle.queued   circle { fill: #bebebe; }
.status-circle.running  circle { fill: #00d801; }
.status-circle.complete circle { fill: #007AC9; }
.status-circle.failed   circle { fill: #ff0000; }
.status-circle.skipped  circle { fill: #ffffff; stroke: #bebebe; }

/**
 * Animations
 */
@keyframes status-pulse {
  0% {
    fill-opacity: 1.0;
  }
  50% {
    fill-opacity: 0.4;
  }
  100% {
    fill-opacity: 1.0;
  }
}

@keyframes status-fail-pulse {
  0% {
    fill-opacity: 1.0;
    fill: #ff0000;
  }
  50% {
    fill-opacity: 0.1;
    fill: #5a0000;
  }
}