<template name="AdminLayout">
  {{#if Template.subscriptionsReady}}
    {{#if currentUser}}
      {{> TopNav }}
    {{/if}}
  {{/if}}
  <div class="app-container">
    {{#DisplayTemplateLayer}}
      {{#if Template.subscriptionsReady}}
        {{#if currentUser}}
          <div class="app-content">
            {{#if userIsAdmin}}
              {{> Template.dynamic template=main }}
            {{else}}
              {{> Template.dynamic main='NotFound' }}
            {{/if}}
          </div>
        {{else}}
          {{> Login }}
        {{/if}}
      {{else}}
        {{> AppLoading message="Loading Data" }}
      {{/if}}
    {{/DisplayTemplateLayer}}
  </div>
</template>