<template name="AuthenticatedLayout">
  {{#if Template.subscriptionsReady}}
    {{#if currentUser}}
      {{> TopNav }}
    {{/if}}
  {{/if}}
  <div class="app-container">
    {{#DisplayTemplateLayer}}
      {{#if Template.subscriptionsReady}}
        {{#if currentUser}}
          <div class="app-content">
            {{> Template.dynamic template=main }}
          </div>
        {{else}}
          {{> Login }}
        {{/if}}
      {{else}}
        {{> AppLoading message="Loading Data" }}
      {{/if}}
    {{/DisplayTemplateLayer}}
  </div>
</template>