.dashboard-metric-container {
  display         : flex;
  min-height      : 200px;
  min-width       : 200px;
  flex-basis      : 100%;
  flex-shrink     : 1;
  padding         : 20px;
  justify-content : center;
}

.dashboard-metric {
  text-align     : center;
  flex-basis     : 100%;
  display        : flex;
  flex-direction : column;
  border-radius  : 10px;
  max-width      : 300px;
  border         : 2px solid #333;
}

.dashboard-metric-value-container {
  flex-basis      : 100%;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

.dashboard-metric-value {
  font-size : 60pt;
}

.dashboard-metric-title {
  color                   : #333;
  padding                 : 10px;
  font-size               : 25pt;
  font-weight             : bold;
  border-top-right-radius : 10px;
  border-top-left-radius  : 10px;
}

.dashboard-metric-sub-title {
  color     : #333;
  padding   : 10px;
  font-size : 14pt;
}