.release-plan-container {
  background-color : #298cff;
  color            : #ffffff;
}

.release-plan-shadow-top {
  height           : 20px;
  width            : 100%;
  background-image : linear-gradient(rgba(51, 51, 51, 0.7) 30%, rgba(51, 51, 51, 0.3) 70%, rgba(51, 51, 51, 0) 100%);
}

.release-plan-shadow-bottom {
  height           : 20px;
  width            : 100%;
  background-image : linear-gradient(rgba(51, 51, 51, 0.0) 30%, rgba(51, 51, 51, 0.3) 70%, rgba(51, 51, 51, 0.7) 100%);
}

.release-plan-table {
  width : 100%;
}

.release-plan-table > thead > tr > th {
  padding : 10px;
}

.release-plan-table > tbody > tr > td {
  padding        : 10px;
  vertical-align : top;
  -webkit-transition : background-color 0.5s;
  -moz-transition    : background-color 0.5s;
  -ms-transition     : background-color 0.5s;
  -o-transition      : background-color 0.5s;
  transition         : background-color 0.5s;
  transition-delay   : 0.25s;
}

.release-plan-table > tbody > tr > td.hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.release-plan-table .release-summary-container {
  max-width : 14em;
}

.release-plan-container .release-title {
  font-size   : 2.2em;
  font-weight : bold;
  margin      : 10px 0;
}

.release-plan-container .release-title a,
.release-plan-container .release-title a:visited {
  color : inherit;
}

.release-plan-preview-link {
  color : #ffffff !important;
}

.release-plan-container .sprint-title {
  font-size   : 1.5em;
  font-weight : bold;
}

.release-plan-effort {
  background-color : #999999;
  border-radius    : 5px;
  margin-bottom    : 5px;
  padding          : 5px;
}

.release-plan-effort:last-child {
  margin-bottom : 0;
}

.release-plan-effort-title {
  margin                  : -5px;
  padding                 : 5px;
  background-color        : rgba(255, 255, 255, 0.7);
  color                   : #333333;
  border-top-left-radius  : 5px;
  border-top-right-radius : 5px;
}

.release-plan-effort-preview-link {
  color : #333333 !important;
}

.release-plan-effort-roles {
  margin-top : 10px;
  padding    : 5px;
}