/**
 * Chart
 */
.capacity-plan-chart {
  background-color : #298cff;
}

.capacity-plan-chart text,
.capacity-plan-chart tspan {
  user-select    : none;
  pointer-events : none;
  fill           : #fff;
}

.no-mouse {
  pointer-events : none;
}

/**
 * Gradients
 */
.shadow-gradient-stop-1 {
  stop-color   : #333;
  stop-opacity : 0.7;
}

.shadow-gradient-stop-2 {
  stop-color   : #333;
  stop-opacity : 0.3;
}

.shadow-gradient-stop-3 {
  stop-color   : #333;
  stop-opacity : 0;
}

/**
 * Contributors & teams list
 */
.contributor-group {
  cursor : pointer;
}

.contributor-name {
  text-anchor        : end;
  alignment-baseline : hanging;
}

.contributor-background {
  fill : #298cff;
}

.link-drag-handle {
  opacity            : 0;
  fill               : #298cff;
  stroke             : #fff;
  -webkit-transition : fill 0.5s, opacity 0.5s;
  -moz-transition    : fill 0.5s, opacity 0.5s;
  -ms-transition     : fill 0.5s, opacity 0.5s;
  -o-transition      : fill 0.5s, opacity 0.5s;
  transition         : fill 0.5s, opacity 0.5s;
  filter             : url(#controls-drop-shadow);
  transition-delay   : 0.125s;
}

.contributor-group:hover .link-drag-handle,
.contributor-block-group:hover .link-drag-handle,
.contributor-block-group:hover .link-drag-handle-dot,
.effort-block-group:hover .link-drag-handle,
.effort-block-group:hover .link-drag-handle-dot,
.link-drag-handle-container.in-drag .link-drag-handle,
.link-drag-handle-container.in-drag .link-drag-handle-dot {
  opacity : 1;
}

.link-drag-handle:hover {
  stroke       : #ff009d;
  stroke-width : 2px;
  cursor       : pointer;
}

.link-drag-handle-container.in-drag .link-drag-handle {
  pointer-events : none;
  stroke         : #ff009d;
  stroke-width   : 2px;
  cursor         : pointer;
}

.link-drag-handle-dot {
  pointer-events     : none;
  fill               : #fff;
  opacity            : 0;
  -webkit-transition : fill 0.5s, opacity 0.5s;
  -moz-transition    : fill 0.5s, opacity 0.5s;
  -ms-transition     : fill 0.5s, opacity 0.5s;
  -o-transition      : fill 0.5s, opacity 0.5s;
  transition         : fill 0.5s, opacity 0.5s;
  transition-delay   : 0.125s;
}

.link-drag-handle-container:hover .link-drag-handle-dot,
.link-drag-handle-container.in-drag .link-drag-handle-dot {
  opacity : 1;
  fill    : #ff009d;
}

.link-drag-link {
  fill           : none;
  stroke         : rgba(126, 255, 0, 1.0);
  stroke-width   : 10;
  pointer-events : none;
}

.y-axis-separator {
  stroke-width    : 3px;
  stroke          : #fff;
  shape-rendering : crispEdges;
}

/**
 * Sprints
 */
.sprint-header-title {
  alignment-baseline : hanging;
}

.sprint-link-section {
  fill : none;
}

.sprint-body-section {
  fill               : #298cff;
  -webkit-transition : fill 0.25s;
  -moz-transition    : fill 0.25s;
  -ms-transition     : fill 0.25s;
  -o-transition      : fill 0.25s;
  transition         : fill 0.25s;
  transition-delay   : 0.125s;
}

.sprint-background-border {
  stroke-width       : 2px;
  stroke             : rgba(255, 255, 255, 0);
  -webkit-transition : stroke 0.25s, stroke-width 0.25s;
  -moz-transition    : stroke 0.25s, stroke-width 0.25s;
  -ms-transition     : stroke 0.25s, stroke-width 0.25s;
  -o-transition      : stroke 0.25s, stroke-width 0.25s;
  transition         : stroke 0.25s, stroke-width 0.25s;
  transition-delay   : 0.125s;
}

.sprint-background-group.hover .sprint-background-border {
  stroke : #fff;
}

.sprint-background-group.hover .sprint-body-section {
  fill : rgba(255, 255, 255, 0.5);
}

/**
 * Effort blocks
 */
.effort-block {
  stroke             : rgba(255, 255, 255, 1);
  stroke-width       : 1px;
  -webkit-transition : stroke 0.25s, stroke-width 0.25s;
  -moz-transition    : stroke 0.25s, stroke-width 0.25s;
  -ms-transition     : stroke 0.25s, stroke-width 0.25s;
  -o-transition      : stroke 0.25s, stroke-width 0.25s;
  transition         : stroke 0.25s, stroke-width 0.25s;
  transition-delay   : 0.125s;
}

.effort-block.hover,
.effort-block:hover {
  stroke       : #fff;
  stroke-width : 2px;
}

.effort-block .contributor-background {
  fill : rgba(255, 255, 255, 0.50);
}

.effort-title {
  fill : #fff;
}

.effort-controls,
.release-controls,
.contributor-controls {
  opacity            : 0;
  -webkit-transition : opacity 0.5s;
  -moz-transition    : opacity 0.5s;
  -ms-transition     : opacity 0.5s;
  -o-transition      : opacity 0.5s;
  transition         : opacity 0.5s;
  transition-delay   : 0.125s;
}

.effort-block-group:hover .effort-controls,
.release-block-group:hover .release-controls,
.contributor-block-group:hover .contributor-controls {
  opacity : 1;
}

.effort-control-background,
.contributor-control-background {
  fill         : #298cff;
  stroke       : #fff;
  stroke-width : 1px;
  filter       : url(#controls-drop-shadow);
}

.effort-control text,
.contributor-control text {
  fill               : #fff;
  text-anchor        : middle;
  alignment-baseline : middle;
}

.effort-control:hover,
.contributor-control:hover {
  cursor : pointer;
}

.effort-control:hover .effort-control-background,
.contributor-control:hover .contributor-control-background {
  stroke       : #ff009d;
  stroke-width : 2px;
}

.effort-control:hover text,
.contributor-control:hover text {
  fill : #ff009d;
}

/**
 * Contributor blocks and links
 */
.contributor-block {
  fill             : rgba(255, 255, 255, 0.3);
  shape-rendering  : crispEdges;
  transition-delay : 0.125s;
}

.contributor-block-group .contributor-name {
  text-anchor : start;
}

path.contributor-highlight.highlight {
  stroke       : #7eff00 !important;
  stroke-width : 25px;
}

.contributor-background-path {
  stroke             : rgba(255, 255, 255, 0);
  stroke-width       : 1px;
  -webkit-transition : stroke 0.25s, stroke-width 0.25s;
  -moz-transition    : stroke 0.25s, stroke-width 0.25s;
  -ms-transition     : stroke 0.25s, stroke-width 0.25s;
  -o-transition      : stroke 0.25s, stroke-width 0.25s;
  transition         : stroke 0.25s, stroke-width 0.25s;
  transition-delay   : 0.125s;
}

.contributor-link {
  fill               : none;
  stroke             : #fff;
  stroke-width       : 1px;
  -webkit-transition : stroke 0.25s, stroke-width 0.25s;
  -moz-transition    : stroke 0.25s, stroke-width 0.25s;
  -ms-transition     : stroke 0.25s, stroke-width 0.25s;
  -o-transition      : stroke 0.25s, stroke-width 0.25s;
  transition         : stroke 0.25s, stroke-width 0.25s;
  transition-delay   : 0.125s;
}

/**
 * Release Blocks
 */
.release-block {
  fill             : rgb(22, 231, 58);
  shape-rendering  : crispEdges;
  transition-delay : 0.125s;
}

.release-block.hover,
.release-block:hover {
  stroke       : #fff;
  stroke-width : 2px;
}

.release-title {
  alignment-baseline : baseline;
  font-size          : 18px;
}

.release-link {
  fill               : none;
  stroke             : #fff;
  stroke-width       : 1px;
  -webkit-transition : stroke 0.25s, stroke-width 0.25s;
  -moz-transition    : stroke 0.25s, stroke-width 0.25s;
  -ms-transition     : stroke 0.25s, stroke-width 0.25s;
  -o-transition      : stroke 0.25s, stroke-width 0.25s;
  transition         : stroke 0.25s, stroke-width 0.25s;
  transition-delay   : 0.125s;
}

/**
 * Separate styling for printable charts
 */
.printable svg.capacity-plan-chart {
  background-color : #fff;
}

.printable .sprint-body-section {
  fill : rgba(225, 225, 225, 0.50);
}

.printable .capacity-plan-chart text,
.printable .capacity-plan-chart tspan {
  fill : #333;
}

.printable .effort-title,
.printable .effort-title tspan {
  fill : #fff !important;
}

.printable .y-axis-separator {
  stroke : #999;
}

.printable .effort-block.hover,
.printable .effort-block:hover {
  stroke       : #9b9b9b;
  stroke-width : 3px;
}

.printable .contributo-link {
  stroke : rgba(199, 199, 199, 0.5);
}

.printable .contributor-background-path {
  stroke : rgba(199, 199, 199, 0);
}

.printable .sprint-background-group.hover .sprint-background-border {
  stroke : #298cff;
}

.printable .sprint-background-group.hover .sprint-body-section {
  fill : rgba(41, 140, 255, 0.50);
}

.printable .shadow-gradient-stop-1 {
  stop-color   : #fff;
  stop-opacity : 0;
}

.printable .shadow-gradient-stop-2 {
  stop-color   : #fff;
  stop-opacity : 0;
}

.printable .shadow-gradient-stop-3 {
  stop-color   : #fff;
  stop-opacity : 0;
}
