/**
 * Chart
 */
.capacity-plan-chart {
  margin-top : 10px;
}

.capacity-plan-chart text,
.capacity-plan-chart tspan {
  user-select    : none;
  pointer-events : none;
}

.no-mouse {
  pointer-events : none;
}

/**
 * Contributors & teams list
 */
.contributor-group {
  cursor : pointer;
}

.contributor-name {
  text-anchor        : end;
  alignment-baseline : hanging;
}

.contributor-background {
  fill               : rgba(255, 255, 255, 0.50);
  -webkit-transition : fill 0.5s;
  -moz-transition    : fill 0.5s;
  -ms-transition     : fill 0.5s;
  -o-transition      : fill 0.5s;
  transition         : fill 0.5s;
}

.contributor-drag-handle {
  opacity            : 0;
  fill               : #298cff;
  stroke             : #fff;
  -webkit-transition : fill 0.5s, opacity 0.5s;
  -moz-transition    : fill 0.5s, opacity 0.5s;
  -ms-transition     : fill 0.5s, opacity 0.5s;
  -o-transition      : fill 0.5s, opacity 0.5s;
  transition         : fill 0.5s, opacity 0.5s;
  filter             : url(#controls-drop-shadow);
}

.contributor-group:hover .contributor-drag-handle,
.contributor-block-group:hover .contributor-drag-handle,
.contributor-block-group:hover .contributor-drag-handle-dot,
.contributor-drag-handle-container.in-drag .contributor-drag-handle,
.contributor-drag-handle-container.in-drag .contributor-drag-handle-dot {
  opacity : 1;
}

.contributor-drag-handle:hover {
  stroke       : #ff009d;
  stroke-width : 2px;
  cursor       : pointer;
}

.contributor-drag-handle-container.in-drag .contributor-drag-handle {
  pointer-events : none;
  stroke         : #ff009d;
  stroke-width   : 2px;
  cursor         : pointer;
}

.contributor-drag-handle-dot {
  pointer-events     : none;
  fill               : #fff;
  opacity            : 0;
  -webkit-transition : fill 0.5s, opacity 0.5s;
  -moz-transition    : fill 0.5s, opacity 0.5s;
  -ms-transition     : fill 0.5s, opacity 0.5s;
  -o-transition      : fill 0.5s, opacity 0.5s;
  transition         : fill 0.5s, opacity 0.5s;
}

.contributor-drag-handle-container:hover .contributor-drag-handle-dot,
.contributor-drag-handle-container.in-drag .contributor-drag-handle-dot {
  opacity : 1;
  fill    : #ff009d;
}

.contributor-drag-link {
  fill           : none;
  stroke         : rgba(126, 255, 0, 1.0);
  stroke-width   : 10;
  pointer-events : none;
}

.y-axis-separator {
  stroke-width    : 3px;
  stroke          : #999;
  shape-rendering : crispEdges;
}

/**
 * Sprints
 */
.sprint-link-section {
  fill : none;
}

.sprint-body-section {
  fill : rgba(225, 225, 225, 0.50);
}

.sprint-body-section.hover {
  stroke : #298cff;
}

/**
 * Effort blocks
 */
.effort-block.hover {
  stroke       : #9b9b9b;
  stroke-width : 3px;
}

.effort-title {
  fill : #fff;
}

.effort-controls,
.contributor-controls {
  opacity            : 0;
  -webkit-transition : opacity 0.5s;
  -moz-transition    : opacity 0.5s;
  -ms-transition     : opacity 0.5s;
  -o-transition      : opacity 0.5s;
  transition         : opacity 0.5s;
}

.effort-block-group:hover .effort-controls,
.contributor-block-group:hover .contributor-controls {
  opacity : 1;
}

.effort-control-background,
.contributor-control-background {
  fill         : #298cff;
  stroke       : #fff;
  stroke-width : 1px;
  filter       : url(#controls-drop-shadow);
}

.effort-control text,
.contributor-control text {
  fill               : #fff;
  text-anchor        : middle;
  alignment-baseline : middle;
}

.effort-control:hover,
.contributor-control:hover {
  cursor : pointer;
}

.effort-control:hover .effort-control-background,
.contributor-control:hover .contributor-control-background {
  stroke       : #ff009d;
  stroke-width : 2px;
}

.effort-control:hover text,
.contributor-control:hover text {
  fill : #ff009d;
}

/**
 * Contributor blocks and links
 */
.contributor-block {
  fill               : rgba(255, 255, 255, 0.3);
  shape-rendering    : crispEdges;
  -webkit-transition : fill 0.5s;
  -moz-transition    : fill 0.5s;
  -ms-transition     : fill 0.5s;
  -o-transition      : fill 0.5s;
  transition         : fill 0.5s;
}

.contributor-block-group .contributor-name {
  text-anchor : start;
}

rect.contributor-highlight.highlight {
  fill            : #7eff00 !important;
  shape-rendering : crispEdges;
}

path.contributor-highlight.highlight {
  stroke       : #7eff00 !important;
  stroke-width : 25px;
}

.contributor-background-path {
  stroke             : rgba(199, 199, 199, 0);
  stroke-width       : 1px;
  -webkit-transition : stroke 0.25s, stroke-width 0.5s;
  -moz-transition    : stroke 0.25s, stroke-width 0.5s;
  -ms-transition     : stroke 0.25s, stroke-width 0.5s;
  -o-transition      : stroke 0.25s, stroke-width 0.5s;
  transition         : stroke 0.25s, stroke-width 0.5s;
}

.contributor-link {
  fill               : none;
  stroke             : rgba(199, 199, 199, 0.5);
  stroke-width       : 1px;
  -webkit-transition : stroke 0.25s, stroke-width 0.5s;
  -moz-transition    : stroke 0.25s, stroke-width 0.5s;
  -ms-transition     : stroke 0.25s, stroke-width 0.5s;
  -o-transition      : stroke 0.25s, stroke-width 0.5s;
  transition         : stroke 0.25s, stroke-width 0.5s;
}
