<template name="ContributorEfforts">
  <div class="contributor-efforts show-controls-on-hover" data-pk="{{_id}}">
    <div class="section-header">
      <h3>Efforts</h3>
    </div>
    
    {{#if userManagesOrIsContributor _id}}
      <table class="table data-table overhang-table-left">
        {{#each efforts}}
          <tr class="data-table-row" data-pk="{{_id}}">
            <td class="open-link">
              <a class="hidden-control" href="{{pathFor 'Effort' effortId=_id}}">
                <span class="glyphicon glyphicon-folder-open"></span>
              </a>
            </td>
            <td>
              {{> EditableTextField dataKey="title" value=title emptyText="Enter Title" }}
            </td>
            <td class="text-right">
              <a class="btn-delete-effort link-red hidden-control">
                <span class="glyphicon glyphicon-minus-sign"></span>
              </a>
            </td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <table class="table data-table overhang-table-left">
        {{#each efforts}}
          <tr class="data-table-row" data-pk="{{_id}}">
            <td class="open-link">
              <a class="hidden-control" href="{{pathFor 'Effort' effortId=_id}}">
                <span class="glyphicon glyphicon-folder-open"></span>
              </a>
            </td>
            <td>{{title}}</td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
    
    {{#if userManagesOrIsContributor _id}}
      <div>
        <a class="btn-add-effort hidden-control">
          <span class="glyphicon glyphicon-plus-sign"></span>
          Add Effort
        </a>
      </div>
    {{/if}}
  </div>
</template>