<template name="Login">
  <div class="login-container">
    <div class="login-logo-container">
      journalist
    </div>
    <form class="login-form form-inline" role="form">
      <div class="form-group">
        <div class="input-group full-width">
          <input type="email" class="form-control login-username" placeholder="Email" required>
        </div>
        
        <div class="input-group login-password-container full-width">
          <input type="password" class="form-control login-password" placeholder="Password" required>
        </div>
      </div>
      <div class="login-error"></div>
      <button class="btn btn-default btn-sign-up hide" type="button">Sign Up</button>
    </form>
  </div>
</template>