<template name="ReleaseLink">
  <div class="inline-release-link">
    {{#with release}}
      <a href="{{pathFor 'Release' releaseId=_id}}">{{title}}</a>

      {{#if ../showDate}}
        {{#unless isReleased}}
          {{#unless ../hideDetails}}
            <div class="release-link-details">
              {{> ReleaseDateSummary }}
            </div>
          {{/unless}}
        {{else}}
          {{#if releaseDate}}
            (released {{dateFormat releaseDate 'MMM Do'}})
          {{/if}}
        {{/unless}}
      {{/if}}
    {{else}}
    {{/with}}
  </div>
</template>