<template name="DefaultImportedItemPreview">
  <div class="imported-item-container imported-item-preview">
    <div class="flex">
      <div class="imported-item-id imported-item-type">
        {{renderItemType itemType}}
      </div>
      <div class="imported-item-id no-wrap show-controls-on-hover">
        <div>
          <a class="" href="{{pathFor 'ImportedItem' itemId=_id}}">
            {{identifier}}
          </a>
          {{#if viewUrl}}
            <a href="{{viewUrl}}" target="_blank" class="hidden-control">
              <span class="glyphicon glyphicon-share-alt"></span>
            </a>
          {{/if}}
        </div>
      </div>
      <div class="imported-item-title">
        {{title}}
      </div>
    </div>
    <div class="flex">
      <div class="imported-item-sidebar">
        <div>
          {{> ImportedItemStatusSummary }}
        </div>
        <div>
          {{> ImportedItemLinksList }}
        </div>
        <div>
          {{> ImportedItemTimeline }}
        </div>
      </div>
      <div class="imported-item-description-container">
        <label class="field-label">Description</label>
        <div class="imported-item-description">
          {{{description}}}
        </div>
      </div>
    </div>
  </div>
</template>