.imported-item-container {
  min-width: 1000px;
  max-width: 1200px;
}

.imported-item-container > .flex > div {
  margin-right: 1em;
}

.imported-item-container > .flex > div:last-child {
  margin-right: 0;
}

.imported-item-container a,
.imported-item-container a:visited {
  color : #298cff;
}

.imported-item-container .field-label {
  color : #298cff;
  border-bottom: 2px solid #cecece;
  border-bottom-right-radius: 10px;
  width: 100%;
  font-size: 1.2em;
}

.imported-item-preview {

}

.imported-item-id {
  color: #298cff;
  font-weight: bold;
  font-size: 2em;
  margin-right: 1em;
}

.imported-item-type {
  color: #000000;
}

.imported-item-title {
  color: #666666;
  font-size: 2em;
}

.imported-item-sidebar {
  flex-basis: 260px;
  flex-shrink: 0;
}

.imported-item-sidebar,
.imported-item-description-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.imported-item-description {

}

.imported-item-summary-container,
.imported-item-timeline-container {
  margin-bottom: 1em;
}

.imported-item-sidebar .status-table td {
  vertical-align: baseline;
}